*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.tarjetas{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    

}


.footer{
    margin-top: 50px;
}

.card-body-footer{
    background-color: black;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.card-header{
    font-size: larger;
    font-weight: bolder;
  
}

.ispc-blanco{
    height: 80px;
}

.texto-carrousel{
    color: black;
}

/*fin-index*/


/*login*/
.formulario{
    display: flex;
    justify-content: center;
}


/*fin login*/